
.btn {
    background-color: #000d1a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 7px;
}

.btn:hover {
    background-color: #fff;
    border: 1.5px solid #000d1a;
    color: #000d1a;
    font-weight: bold;
}

.button-alternate {
    background-color: #fff;
    border: 1.5px solid #f5f5f5;
    color: #000d1a;
    font-weight: bold;
    padding: 7px;
    border-radius: 7px;
}

.button-alternate:hover {
    color: #334d4d;
    text-decoration: none;
}

 .row h2  {
    font-weight: bold;
}

.caption {
    color: #0059b3;
    font-weight: bold;
}

.select-option {
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
}

.select-option .option-value:hover{
            color: #fff;
            background-color: #0059b3;
            border: none;
}

  .verify-container {
      padding-top: 4%;
  }

  .last-step {
      text-align:center;
      font-size: 35px;
      font-weight: bold;
      color: #000000;
  }

  .verify-content {
      padding-top : 5px;
      text-align: center;
      font-size: 20px;
  }

 .mail-image img{
     width: 200px;
     height: 200px;
 }


 .content {
     background-color: #f2f2f2;
 }

 .content .profile-image img{
     width: 200px;
     height: 200px;
 }

 .content h2 {
     text-align: center;
 }

 .content .content-text, .comments a {
     text-align: center;
 }

 .content .content-text p {
     font-size: 20px;
 }

 .fa-star, .fa-map-marker-alt, .fa-pied-piper, .fa-building, .fa-phone-alt {
    color: orange;
    font-size: 25px;
}

.fa-sign-in-alt {
    color: #fff;
    font-size: 15px;
}

.view-all-comments, .edit {
    font-size: 20px;
    text-align: center;
}

.view-all-comments a, .edit a {
    text-decoration: none;
    color: #000d1a;
    font-weight: bold;
}

.view-all-comments a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.edit {
    margin-left: auto;
    margin-right: auto;
}

.edit a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #000d1a;
    padding: 15px;
}

.edit a:hover {
    background-color: #f2f2f2;
    color: #000d1a;
    border: 2px solid #000d1a;
    border-radius: 25px;
}

.profile-image img, .card-body img {
   width: 200px;
   height: 200px;
}

.container .image-upload-form {
    padding-left: 32%;
}

.image-upload-form .custom-file {
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
    width: 200px;
    height: 43px;
    text-align: center;
    background-color: #f2f2f2;
    color: #000d1a;
    border: 2px solid #000d1a;
    font-size: 18px;
  }


  input[type="file"] {
    display: none;
  }

  .upload {
    width: 200px;
    height: 40px;
    background-color: #334d4d;
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
  }

  .upload-button {
    background-color: #000d1a;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 8.5px 1px 8.5px;
    height: 44px;
    width: 30%;
    font-weight: bold;
    margin-left: -5px;
  }
  @media screen and (max-width: 800px) {
    .container .image-upload-form {
        padding-left: 20%;
    }

    .profile-image img, .card-body img {
        width: 40%;
        height: 40%;
    }

    .details h4{
        font-size: 16px;
    }
    .card-body img {
        width: 30%;
    }

    .search-result {
        width: 70%;
    }

    #parameter {
        width: 80%;
    }

    .find button {
        width: 88%;
    }


  }

  .service-items {
    position: absolute;
    border: 1px solid #000000;
    border-top: none;
    border-bottom: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    width: 92%;
    margin-left: 12.5px;
    border-radius: 10px;
 }

 .service-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom:1px solid #000000;
    font-size: 15px;
 }

 .service-items div:hover {
    background-color: #999999;
 }

 .service-active {
  background-color: #b3b3b3 !important;
  color: #ffffff;
 }

 .heading{
     font-size: 25px;
     font-weight: bold;
     color: #ffffff;
 }

 .small-header {
     font-size: 22px;
     font-weight: bold;
     color: #ffffff;
 }

  .search-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .result-content {
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px solid #000d1a;
    }

    .search-result .name {
        font-size: 22px;
        font-weight: bold;
    }

    .search-result .info {
        font-size: 16px;
    }

    .search-result .address {
        font-size: 16px;
        font-weight: bold;
    }

    .location {
        font-size: 18px;
        font-weight: bold;
        color: #000d1a;
    }

    .location a {
        color: #000d1a;
    }

    #address {
        font-size: 18px;
        font-weight: bold;
    }

    .contact .fa-phone-alt  {
        font-size: 50px;
    }
    .contact .fa-sms {
        font-size: 80px;
    }

    .contact .fa-phone-alt {
        color: red;
        border: 2px solid red;
        padding: 20px;
        border-radius: 50%;
    }

    .search-btn {
        background-color: #000d1a;
        color: #ffffff;
        text-decoration: none;
    }

    .search-btn:hover {
        background-color: #fff;
        border: 1.5px solid #000d1a;
        color: #000d1a;
        font-weight: bold;
    }

    .comment textarea {
        width: 100%;
        height: 200px;
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        font-size: 18px;
    }

    .comment label {
        font-size: 20px;
        font-weight: bold;
    }

    .rating-star .fa-star, .fa-star-half-alt {
            color: #ff9900;
            font-size: 15px;
    }

    .user-review {
        font-size: 17px;
    }

    .created-at {
        font-style: italic;
        color: #000d1a;
    }

    .referral {
        padding-bottom: 15px;
    }

    .referral p{
        font-size: 18px;
        font-weight: bold;
    }

    .referral a{
        font-size: 16px;
        font-weight: bold;
    }

    .tip {
        position: relative;
        display: inline-block;
    }

    .tip button {
        background-color: #000d1a;
        color: #fff;
        border: none;
        border-radius: 15px;
        padding: 8px;
        font-size: 14px;
    }

    .tip .tiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }



      .tip .tiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }

      .tip:hover .tiptext {
        visibility: visible;
        opacity: 1;
      }

      #invalid-mail-feedback, #invalid-password-feedback {
          font-weight: bold;
          color: red;
      }

      #search-data-result {
          background-color: #fff;
          border: 1px solid #f2f2f2;
          margin-left: 13px;
          width: 45%;
          padding: 15px;
          margin-top: -12px;
          display: block;
      }

        #search-data-result hr {
            border: 0.5px solid #334d4d;
        }

        #search-data-result a{
            font-weight: bold;
            font-size:18px;
            color: #1d68a7;
            text-decoration: underline;
        }

        #submit-data-button {
            text-align: center;
        }

        #submit-data {
            cursor: pointer;
        }

        .slider-caption {
            font-size: 18px;
            font-weight: bold;
        }

        .rangeslider {
            width: 100%;
        }

        .slider {
            width: 100%;
            /*-webkit-appearance: none; */
            height: 15px;
            border-radius: 10px;
            background-color: #d3d3d3;
            outline: none;
            opacity: 0.8;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #3490dc;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #3490dc;
            cursor: pointer;
        }

        #range-value {
            margin: auto;
            font-size: 18px;
        }

        #add-to-favorite {
            border: none;
            background-color: inherit;
            font-size: 18px;
            font-weight: bold;
            color: #000d1a;
            padding: 12px;
        }

        #add-to-favorite:hover {
            text-decoration: underline;
        }

        .favorites table {
            border-spacing: 5px;
        }

        .favorites th {
            padding: 12px;
            border: 1px solid #3490dc;
        }

        .favorites td {
            padding: 12px;
            border-right:2px solid #dddddd;
            border-top: 1px solid #3490dc;
            border-bottom: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
        }

        .favorites tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .favorites h3 {
            text-align: center;
            font-weight: bold;
            color: #334d4d;
            padding: 20px;
        }

        .delete-button {
            border: none;
            color: red;
            background-color: #f2f2f2;
        }


    @media screen and (min-width: 200px) and (max-width: 600px) {
        .search-result .name {
            font-size: 15px;
        }

        .search-result .info {
            font-size: 13px;
        }

        .search-result .address {
            font-size: 13px;
        }

        .find button {
            width: 50%;
            padding-left: 9px;
        }

        .heading, .small-header {
            font-size: 20px;
        }

        .content-text .name {
            font-size: 20px;
        }

        .content-text .motto {
            font-size: 15px;
        }

        .content-text .address {
            font-size: 17px;
        }

        .content-text .phone {
            font-size: 15px;
        }

        #search-data-result {
            width: 60%;
        }

        }
